/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/animation.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
@keyframes example {
  from {top: 0px; right: 10px }
  to {top: 800px; right: 800px}
}

.image {
  width: 150px;
  height: 150px;
  position: absolute;
  background-image: url(https://png.pngtree.com/png-clipart/20220109/original/pngtree-blue-purple-shooting-star-png-image_7026887.png);
  background-size: contain;
  animation: example 5s linear infinite;
}
